body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home{
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: rgba(245, 245, 245, 0.700);
    border-radius: 25px;
}

h1, p{
    color: #8a6035;
    margin: 20px;
}

p{
    text-align: center;
}

img{
    width: 250px;
    margin-bottom: 30px;
}
